.notes {
  width: 100%;
  padding: 20px 0px;
    font-family: jump;
  font-size: 18px;
  color: #ffffff;
  text-align: justify;
}


.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  padding: 20px;
}

.sidebody{
  width:75%;
  height: 100vh;
  left:20%;
  position: fixed;
}

.heading{
  font-family: jump;
  font-size: 50px;
  color: #a200ff;
  font-weight: bold;
  padding-top: 50px;
  text-align: justify;
}

.heading .subheading{
  font-size: 25px;
  padding-top: 50px;

}

textarea{
  border:2px white solid;
  padding: 20px;
  background-color: black;
  font-family: 'SF Mono', 'Menlo', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
  color: #00ff00;               
  font-size: 16px;
  line-height: 1.5;
  width:90%;
  min-height: 200px;
  height:auto;
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}