@font-face {
    font-family: 'jump';
    src: url('elr.ttf');
}

@font-face {
    font-family: 'meta';
    src: url('ell.ttf');
}

@font-face {
    font-family: 'metabold';
    src: url('elb.ttf');
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

nav {
    background: transparent;
    padding: 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: jump, sans-serif;
}

nav h1 {
    color: rgb(255, 251, 0);
}

.contain {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    width: 50px;
    height: 10px;
    align-items: center;
    display: flex;
    position: relative;
    box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.circle {
    width: 30px;
    height: 100%;
    background-color: #000c7a;
    border-radius: 50%;
    top: 15.2px;
    left: 15px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.moon {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right, #fff, #0000);
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.gridbox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 5% 20%;
}

.gridded {
    color: #ffffff;
    background-color: #000000;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: meta;
    padding: 20px;
}

.gridded:hover {
    background-color: #ffee00;
    color: #000000;
    font-family: metabold;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.5);
    animation: transl 0.5s ease-in-out;
}
a{
    text-decoration: none;
    color:inherit;
}

@keyframes transl {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.0);
    }
    
}